name: documentation

on: [push, pull_request, workflow_dispatch]

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Install dependencies in the virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate
          pip install --upgrade pip  
          pip install sphinx sphinx-book-theme myst_parser sphinxcontrib-mermaid linkify-it-py rinohtype pillow rinoh-typeface-texgyreheros
      - name: Clean build directory
        run: |
          rm -rf _build
      - name: Sphinx build
        run: |
          source venv/bin/activate  
          sphinx-build doc _build
          sphinx-build -b rinoh doc _build/pdf
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}
        with:
          publish_branch: gh-pages
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: _build/
          force_orphan: true